<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="stylesheet" th:href="@{/css/styleLoggedIn.css}" />
</head>
<body>
<div class="container">
    <h1>Bem-vindo ao Sistema de Controle Financeiro, <span th:text="${username}"></span>!</h1>
    <p th:if="${message}" th:text="${message}" style="color:#27ae60;"></p>
    <a href="/" class="back-link">Página Inicial</a>
</div>
</body>
</html>