<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Usuário" required/>
        <input type="password" name="password" placeholder="Senha" required/>
        <input type="submit" value="Login"/>
    </form>

    <div class="links">
        <a th:href="@{/}" class="back-link">Página Inicial</a>
        <span class="separator">|</span>
        <a th:href="@{/register}" class="back-link">Cadastro</a>
    </div>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
</div>
</body>
</html>