<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/styleRegister.css}" />
</head>
<body>
<div class="container">
    <h1>Cadastro</h1>
    <form th:action="@{/register}" method="post">
        <input type="text" name="username" placeholder="Usuário" required/>
        <input type="password" name="password" placeholder="Senha" required/>
        <input type="submit" value="Registrar"/>
    </form>
    <div class="links">
        <a th:href="@{/}" class="back-link">Página Inicial</a>
        <span class="separator">|</span>
        <a th:href="@{/login}" class="back-link">Login</a>
    </div>
</div>
</body>
</html>